<h1>Tasks</h1>

<p>Description</p>

<% @tasks.each do |task| %>
  <p><%= task.description %> <%= link_to 'Show', task_path(task) %> | <%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Delete', task_path(task), method: :delete %></p>
<% end %>

<%= link_to 'New Task', new_task_path %>
