<div class="page-header">
  <% if current_user_or_admin(@user) %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %>
    </div>
  <% end %>
  <h1><%= @user.full_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>
  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>
  <% if current_user_comember_or_admin(@user) %>
    <dt>Email</dt>
    <dd><%= mail_to @user.email %></dd>
  <% end %>
  <% if @user.pivotal_tracker_token %>
    <dt>Pivotal Tracker Token</dt>
    <dd><%= @user.pivotal_tracker_token[0..3] + @user.pivotal_tracker_token[4..@user.pivotal_tracker_token.length].gsub(/./, '*') %></dd>
  <% end %>
</dl>
