<div class="page-header">
  <% if current_user.owner?(@project) %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info' %>
    </div>
  <% end %>
  <h1><%= @project.name %></h1>
</div>

<ol class='breadcrumb'>
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= @project.name %></li>
</ol>

<p>
  <%= link_to "#{@project.tasks.count} #{'Task'.pluralize(@project.tasks.count)}", project_tasks_path(@project) %>
</p>
<p>
  <%= link_to "#{@project.memberships.count} #{'Memberships'.pluralize(@project.memberships.count)}", project_memberships_path(@project) %>
</p>

<% if current_user.owner?(@project) %>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h4>Delete Project</h4>
        <p>
          <%= "Deleting this project will also delete #{@project.memberships.size} #{'membership'.pluralize(@project.memberships.size)}, #{@project.tasks.size} #{'task'.pluralize(@project.tasks.size)} and associated comments." %>
        </p>
        <%= link_to 'Delete', project_path(@project), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
