<!DOCTYPE html>
<html>
<head>
  <title>gCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.full_name, user_path(current_user) %></li>
            <li><%= link_to 'Sign Out', signout_path %></li>
          <% else %>
            <li><%= link_to 'Sign Up', signup_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <% if flash.any? %>
    <div class="alert alert-success" role="alert">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
  <% end %>

  <%= yield %>
  <footer>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'About', about_path %> | <%= link_to 'Terms', terms_path %> | <%= link_to 'FAQ', faq_path %> | <%= link_to 'Tasks', tasks_path %> | <%= link_to 'Users', users_path %> | <%= link_to 'Projects', projects_path %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'https://www.linkedin.com/in/emilyplatzer' do %>
          <%= image_tag 'ico-linked-in.jpg', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://github.com/craftninja/' do %>
          <%= image_tag 'ico-github.png', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://twitter.com/EmilyPlatzer' do %>
          <%= image_tag 'ico-twitter.png', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://students.gschool.it/students/22' do %>
          <%= image_tag 'ico-galvanize.png', class: "footer-img" %>
        <% end %>
      </div>
    </div>
  </footer>
</div>


</body>
</html>
