<!DOCTYPE html>
<html>
<head>
  <title>gCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gCamp</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= yield %>
  <footer>
    <div class="row">
      <div class="col-md-6">
        <%= link_to 'About', about_path %> | <%= link_to 'Terms', terms_path %> | <%= link_to 'FAQ', faq_path %> | <%= link_to 'Tasks', tasks_path %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'https://www.linkedin.com/in/emilyplatzer' do %>
          <%= image_tag 'ico-linked-in.jpg', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://github.com/craftninja/' do %>
          <%= image_tag 'ico-github.png', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://twitter.com/EmilyPlatzer' do %>
          <%= image_tag 'ico-twitter.png', class: "footer-img" %>
        <% end %>

        <%= link_to 'https://students.gschool.it/students/22' do %>
          <%= image_tag 'ico-galvanize.png', class: "footer-img" %>
        <% end %>
      </div>
    </div>
  </footer>
</div>


</body>
</html>
